{% extends 'shose/base.html' %}
{% load static %}
{% block content %}
<style>
    .buy{
        width: 100vw;
        height: 90vh;
    }
    .buy-main{

        width: 40%;
        height: 100%;
       
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: scroll;
    }
    .buy-main h1{
        font-weight: 900;
        font-size: 72px;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        text-align: center;
        margin: 30px;
    }
    .one-pic{
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: cover;
    }
    .one{
        border: 1px solid black;
        padding: 10px;
        margin: 20px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .one-det{
        width: 70%;
        height: 100%;
        justify-content: space-between;
    }
    .ddt{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: left;
        height: 85%;
    }
    .total{
        position: absolute;
        top: 25%;
        left: 0%;
        width: 30%;
        height: 30vh;
    }
    .total h1{
        text-align: center;
        font-weight: 700;
        font-size: 72px;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
    #pp{
        font-size: 48px;
        font-family: 'Inter', sans-serif;
    }
    .ddt h3{
        text-transform: uppercase;
    }
    .btn{
        background-color: black;
        color: white;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border: 1px solid black;
        padding: 10px 25px;


    }


    @media (max-width : 1200px) {
        .buy-main{
            width: 60%;
            }
.buy-main h1{
font-size: 64px;
}
.one{
width: 90%;
}
.ddt h3{
    font-size: 20px;
}
.ddt p{
    font-size: 14px;
}
    }


    @media (max-width : 770px) {
        .buy-main{
            width: 100%;
            }
.buy-main h1{
font-size: 64px;
}
.one{
width: 90%;
}
.ddt h3{
    font-size: 18px;
}
.ddt p{
    font-size: 12px;
}
    }

</style>
<section class="buy container">
    <div class="buy-main ">
        <h1>cart</h1>
        {% for j in lk %}
        <div class="one container">
            <div style="background-image: url('{{ j.photo }}');" class="one-pic"></div>
            <div class="one-det container">
                <div class="ddt">
                    <h3>{{j.brand}}</h3>
                     <p>{{j.name}}</p>
                </div>
                <div class="can ddt">
                    <h4>${{j.price}}</h4>
                    <form action="/buy" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                </div>
                
            </div>
            
        </div>
         {%  endfor %}
    </div>
</section>
{% endblock %}